body{
    font-family: Arial, sans-serif;
}

.hero{
    background:url("../images/hero.jpg") center/cover;
    height:90vh;
}

.hero h1{
    text-shadow:2px 2px 8px black;
}

.card{
    transition:.3s;
}

.card:hover{
    transform:translateY(-10px);
}

section{
    scroll-margin-top:80px;
}

footer{
    font-size:15px;
}